body {
  background-color: rgb(128, 132, 153);
}
.container {
  display: flex;
}
#canvas {
  margin: auto;
  margin: 50px;
  background-color: white;
}
#tools {
  margin: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: rgb(79, 80, 116);
  width: 300px;
  height: 87vh;
  font-size: 20px;
  color: rgb(197, 213, 226);
  padding: 30px;
}
#color {
  margin: 20px;
  width: 100px;
  height: 50px;
}
#saveColor {
  height: 70px;
}
