body {
  background-color: rgb(128, 132, 153);
}
.container {
  display: flex;
}
#canvas {
  background-color: white;
}
#tools {
  margin: 20px;
  display: flex;
  justify-content: left;
  flex-direction: column;
  background-color: rgb(79, 80, 116);
  width: 300px;
  height: 87vh;
  font-size: 20px;
  color: rgb(197, 213, 226);
  padding: 30px;
}
#color {
  margin: 20px;
  width: 100px;
  height: 50px;
}
#saveColor {
  text-align: center;
  margin: 40px;
  height: 70px;
  font-size: 20px;
  background-color: rgb(226, 197, 224);
  color: rgb(52, 85, 112);
  padding: 30px;
  padding: 10px 40px;
  border-radius: 40px;
  border-color: transparent;
}
#saved {
  margin: 10px;
}
#colors {
  margin: 5px;
  width: 80px;
  height: 80px;
}
